/* style for individual page and overall */

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    /* background: #dfdfde; */
    background: #f5f5f5 !important;
}

.form1 {
    /* border:1px solid#118063; */
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #eee;
}

.txt {
    text-align: center;
    background-color: #118063;
    padding: 20px;
    margin-bottom: 2%;
    letter-spacing: 5px;
    color: white;
    border-radius: 5px;
}

.txt2 {
    letter-spacing: 3px;
}

.txt3 {
    text-align: center;
    background-color: #118063;
    padding: 15px;
    letter-spacing: 5px;
    color: white;
    border-radius: 5px;
    margin-top: 10%;
}

.box {
    padding: 10px;
    /* border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px; */
}

.con {
    padding-top: 38px;
}

.img1 {
    margin-top: 21px;
}

#wrapper {
    /* background:  */
    height: 100%;
}

.wrapper {
    background: #fff;
    padding: 0px;
    box-shadow: 0px 1px 5px 0px #ccc !important;
    height: 100%;
}

.admin-sidebar,
.user-sidebar {
    display: none;
}


/* News List */

#content {
    /* height: 800px; */
    overflow: auto;
}

#content .news-post p {
    font-size: 14px;
}


/* End News List */


/* Profile */

.heading-lbl {
    font-weight: bold;
    font-size: 1em;
}

.typelabel {
    background: #118063;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

.dim-btn {
    background: #ccc !important;
}

.typelabel input[type="radio"] {
    display: none;
}

.form-class {
    padding: 15px;
}

.hor-line {
    border-top: 2px solid #eee;
}

.btn-editProfile {
    background: #0f6064;
    color: white;
}

.show-img {
    height: 100px;
    width: 100%;
    margin: 15px 0px;
    border-radius: 5px;
    padding: 0px;
}

.img-close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 0px 6px;
    background: white;
    color: red;
    font-size: 0.9em;
}

.img-close-btn:hover {
    color: blue;
}

#image_preview {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px 0px;
}

.toggle-div {
    display: none;
    /* margin-top: 15px; */
}

.fac-toggle-div {
    border: 1px solid #eee;
    padding: 20px 20px 0px 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.profile .card-header {
    /* padding-top: 20px !important; */
}

#gallery,
#gallery-video,
#special-features {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #eee;
    margin-top: 15px;
}

.method-box {
    /* border-bottom: 2px solid #eee; */
    padding: 20px 0px;
}

.collapse-icon {
    min-width: 0px;
    font-size: 1.5em;
    color: #aaa;
    border: 2px solid #aaa;
    border-radius: 50%;
    padding: 0px 10px;
}

.collapse-icon-down {
    padding-bottom: 3px;
}

.collapse-icon-up {
    padding-top: 3px;
}

.collapse-icon:hover {
    color: blue;
    border-color: blue;
}

.accept-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 7px;
    border-radius: 3px;
}

.hos-fac-toggle-div {
    padding-top: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-top: 10px;
}


/* End Profile */


/* Login */

body,
html {
    height: 100%;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #118063;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-size: 14px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #fff;
    padding: 10px;
    text-align: center;
    border: 10px solid #4db197;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 0;
    bottom: 0.5%;
    /* top: 35%;
            width: 100%; */
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #4db197 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2.5rem;
}

.width {
    width: 280px;
}

.d-margin {
    font-size: 12px;
    margin-bottom: 70px;
}

.input-group-text {
    background: #4db197 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #118063 !important;
}


/*radio check*/


/* input[type=radio]+.custom-radio {
            position: relative;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding-left: 27px;
            cursor: pointer;
        }
        input[type=radio]:checked+.custom-radio:before {
            border: 1px solid #ff9500;
            background-color: #ff9500;
            box-shadow: none;
        }
        input[type=radio]+.custom-radio:before {
            content: "";
            position: absolute;
            top: 0;
            left: 3px;
            width: 20px;
            height: 20px;
            box-shadow: 0 6px 6px -7px #dbdbdb inset;
            border-style: solid;
            border-width: 1px;
            border-color: #dedcd7;
            border-radius: 3px;
            background-color: white;
        }
        input[type=radio]:checked+.custom-radio:after {
            content: "";
            position: absolute;
            top: -3px;
            left: 0;
            width: 25px;
            height: 25px;
            background: url('') no-repeat;
        } */

.sample {
    padding-left: 30px;
}

.sample label:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #bdc3c7;
    border-radius: 50%;
}

.sample input {
    display: none;
}

.sample label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    padding: 10px;
    border-radius: 2px;
    color: #3e4956;
    font-size: 14px;
    text-align: center;
    line-height: 1;
}

.sample label:before {
    position: absolute;
    content: "";
    top: 50%;
    left: -9px;
    width: 15px;
    height: 15px;
    margin-top: -9px;
    background: #f5f5f5;
    border-radius: 50%;
}

.sample input[type="radio"]:checked+label:after {
    position: absolute;
    content: "";
    top: 50%;
    left: -6px;
    width: 9px;
    height: 9px;
    margin-top: -6px;
    border-radius: 50%;
    background: #118063;
}


/*end radio check*/

.links a {
    color: #d2cfcf !important;
}

.text {
    color: #fff !important;
    /* padding: 0px 0px 0px 240px; */
    position: relative;
    float: right;
}


/* End Login */


/* Register form*/

.hide {
    display: none;
}

.show {
    display: inline-flex;
}

.form-check-inline.show {
    display: inline-flex;
}

.collapse.show {
    display: block;
}

.registerform_container {
    margin-top: 80px;
}

.user_registercard {
    width: 700px;
    height: auto;
    padding: 20px;
}

.user_registercard form label {
    color: #fff;
    align-self: flex-end;
}


/* .form-type-managed-file {
    position: relative;
    overflow: hidden;
  } */

.inputfile>input[type="file"] {
    display: inline-block;
    padding: 35px 0 0 0;
    height: 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 60px 60px;
}


/* #file {
    position: relative;
    top: 150px;
    font-family: calibri;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
  } */

::-webkit-file-upload-button {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #bbb;
    text-align: center;
    background-color: #ddd;
    cursor: pointer;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.register_btn {
    color: white !important;
    width: 120px;
}

.register_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


/* End Register form*/


/* Search News List */

.hovereffect {
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

.hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.fit-image {
    width: 100%;
    object-fit: cover;
    height: 200px;
    /* only if you want fixed height */
}

.info {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 104px;
    background-color: #2a2d2cb0;
    color: #fff;
    text-align: justify !important;
}

.info div {
    padding: 10px 10px 0px 10px;
    font-size: 12px;
    text-align: justify;
    border-right: 1px solid #fff;
}

div.scroll2 {
    /* height: 350px;
    float: left;
    overflow-y: auto;
    scrollbar-width: thin; */
}

div.scroll,
.home-scroll {
    /* height: 765px;
    float: left;
    overflow-y: auto;
    scrollbar-width: thin; */
}

.scrolldiv {
    /* height: 550px;
    overflow-y: auto;
    scrollbar-width: thin;*/
    background: white;
    padding-top: 15px;
}

.scrolldiv2 {
    /* height: 700px;
    overflow-y: auto;
    scrollbar-width: thin;*/
    background: white;
    padding-top: 15px;
}


/* End Search News List */


/*filter*/


/* .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
} */


/*end filter*/

.img_2 {
    /* margin-left: 10%; */
    /* border:1px solid black; */
    font-size: 17px;
}


/*new_details*/

.p_2 {
    padding: 22px;
    margin-top: 22px;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: justify;
}

p.p_2>a {
    color: #fff !important;
}

.p_3 {
    /* padding: 22px; */
    /* margin-top: 22px; */
    font-size: 12px;
    letter-spacing: 2px;
    text-align: justify;
    color: white;
    max-height: 60px;
    overflow: hidden;
}

.h_4 {
    width: 100%;
    text-align: center;
    padding: 10px;
    /* text-align: center; */
    padding: 12px 0px;
    font-weight: bold;
    letter-spacing: 3px;
}

.header {
    font-weight: bold;
    display: inline-block;
    position: relative;
    background: #fff;
    color: #f27a24;
    border-radius: 1px;
    border-bottom: 1px dashed #25ac8a;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.header:before {
    content: "";
    position: absolute;
    width: 16%;
    height: 1px;
    bottom: 0;
    left: 42%;
    /* border-bottom: 1px solid #42b698; */
}

.fit-image2 {
    width: 350px;
    object-fit: cover;
    height: 300px;
    /* only if you want fixed height */
}

.displaytext {
    display: none;
}

hr.hr-line {
    width: 100%;
    height: 5px;
    float: left;
    color: black;
    margin-left: 15px;
    margin-right: 15px;
}

.search1 {
    margin-left: 85%;
    margin-top: -30px;
}

.input_height {
    height: 38px;
}

.input_p {
    position: absolute;
    margin-left: 10px;
    height: 38px;
}


/*end_new_details*/

p {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

.main-header {
    position: fixed;
    width: 83.4%;
    height: 80px;
    background-color: #b7dad2;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 99;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.main-content {
    /* padding: 0px;*/
    width: 83.33333333%;
    margin: 0 auto;
    box-shadow: 0px 1px 5px 0px #ccc !important;
    min-height: 100vh;
}

.main-wrap {
    /* height: 700px; */
    overflow-y: auto;
    scrollbar-width: thin;
}


/* .main-wrapper{
    padding: 10px 20px 20px 20px;
    background-color: #f5f5f5;
    height:100%;
} */


/* Create News */

.error {
    color: #ff0000;
}

.show-news-img {
    height: 100px;
    margin: 15px 0px;
    border-radius: 5px;
    padding: 0px;
}

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* body {
    background-color: #f5f5f5;
} */

.btn-primary {
    display: block;
    border-radius: 0px;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.uploadFile {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.imgAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #4bd7ef;
    color: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 30px;
    margin-top: 0px;
    cursor: pointer;
    font-size: 15px;
}

.bg-color {
    background-color: #118063 !important;
    width: 170px;
    color: white !important;
    position: relative;
    right: 15px;
}

.menu-pos {
    position: relative;
    right: 15px;
}

.caret {
    margin-left: 15px;
}

.news-post-btn {
    background-color: #118063 !important;
    color: white !important;
    position: relative;
    left: 15px;
}

.news-post-btn-blue {
    background-color: #007cdb !important;
    color: white !important;
    position: relative;
    left: 15px;
}


/* End Create News */


/*Job Apply Form*/

textarea.form-control,
textarea {
    height: 100px !important;
}

.form-control {
    background-color: #f5f5f5 !important;
}


/* End Job Apply Form*/


/* News Tab */

.news-wrapper {
    height: 290px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.news-wrapper a:hover {
    text-decoration: none;
}

.news-wrapper>ul>li.list-group-item {
    /* background-color: red !important; */
}


/* .news-wrapper >a:first-child{
    display: inline-block;
    margin-left: 0;
    margin-right: 2.1rem;
    padding: 0;
    vertical-align: top;
    width: 30rem;
} */

.news-wrapper>a:first-child>img {
    height: 19.4rem;
}

.source-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 1.538;
    text-transform: uppercase;
    color: #000;
    margin: 12px 0;
}

.source-subtitle {
    font-size: 12px;
    color: #969798;
    font-weight: 300;
}

.source-subtitle img {
    margin-right: 11px;
    vertical-align: bottom;
}

.source-img {
    width: 25.6px;
    height: 25.6px;
}

.source-img-small {
    font-size: 14px;
    color: #000000;
}


/*End News Tab*/


/* Jobs Offer Detail */

.btns {
    display: block;
    zoom: 1;
    margin: 59% 3% 0 3%;
}

.job-no {
    float: right;
}

.btn-width {
    width: 140px;
}

div.scroll2 .bold_h5 {
    font-weight: bold;
}

div.cont-pad {
    background: white;
    margin-left: 15px;
    margin-right: 15px;
}

.item {
    padding: 18px 20px;
    white-space: nowrap;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.3em;
    background: #e0e4e6;
    border-bottom: 1px solid #efefef;
    display: bolck;
    width: 20%;
}

.data {
    padding: 20px 10px;
    line-height: 1.5;
    font-size: 15px;
    display: block;
    width: 100%;
    letter-spacing: 0.15em;
}

div.b {
    word-wrap: break-word;
}

.maintable_wrapper {
    margin: 0 auto;
    background-color: #ecede1;
    border-radius: 10px;
    width: 100%;
}

.table_wrapper {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 99%;
    padding: 10px;
}

.ds_cellline {
    background-color: transparent;
    height: 1px;
    padding: 0px !important;
}

.ds_detail_2 {
    width: 85%;
    padding: 0px 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: none !important;
}

.ds_detail_1 {
    width: 15%;
    background-color: #eeeeee;
}

.ds_detail_1,
.ds_detail_osusume {
    height: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: left;
    padding: 0px 10px;
}


/* End Job Offer Detail */


/*For Ads */

.ads-card,
.ads-card2 {
    /* width: 18rem; */
}

.ads-card2 .card-body {
    padding: 5px 0px !important;
}

.ads-card2 .card-body>ul .list-group-item {
    padding: 5px !important;
}

.ads-card2 .card-body>ul .list-group-item a {
    color: #000;
}

.sub-title {
    background: 0;
    bottom: auto;
    padding: 0;
    width: auto;
}

.sub-title>.ads-title {
    font-size: 12px;
    line-height: 1.357;
    color: #333;
    overflow: hidden;
    position: relative;
    padding: 0;
    top: -0.2rem;
    max-height: 45px;
}

.ads-title {
    font-size: 12px;
    line-height: 1.357;
    margin-top: -12.8px;
}

.adslist-card {
    /* height: 71px; */
    width: 188px;
}

.smallads-title {
    font-size: 12px;
    line-height: 1.357;
    color: #333;
    overflow: hidden;
    position: relative;
    padding: 0;
    top: -0.2rem;
    max-height: 200px;
}

.today .adslist-card .smallads-title {
    font-size: 12px;
    line-height: 1.357;
    color: #333;
    overflow: hidden;
    position: relative;
    padding: 0;
    top: -0.2rem;
    max-height: 65px;
}

.today .smallads-title {
    display: block;
    white-space: normal;
}

.ads-img {
    float: left;
    /* width: 128px; */
    width: 80px;
    margin-right: 19.2px;
}

.source-img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.6rem;
    vertical-align: middle;
}

.source-wrapper {
    /* bottom: 17.6px; */
    bottom: 4px;
    position: absolute;
}

.side_slider_lbl {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 70px;
    background-color: #2a2d2cb0;
    color: #fff;
    text-align: justify !important;
}

.side_slider_lbl p {
    color: #fff;
    font-size: 12px;
}


/*End Ad*/


/* Media Queries*/

@media (max-width: 1024px) and (min-width: 320px) {
    .main-header {
        height: auto;
    }
    .maintab-content {
        padding: 7px;
    }
    .adminview-sidebar {
        height: auto;
    }
    .customer-sidebar {
        display: none;
    }
}

@media (max-width: 600px) and (min-width: 400px) {
    .source-img-small {
        width: 500px;
    }
    .ads-card {
        width: 120px;
    }
    .adminview-sidebar {
        height: auto;
    }
}

@media (min-width: 320px) {
    .source-img-small {
        width: 90%;
    }
    /* .ads-card{
         width: 18rem;
    } */
    .smallads-title {
        font-size: 12px;
        line-height: 1.357;
        color: #333;
        overflow: hidden;
        position: relative;
        padding: 0;
        top: -0.2rem;
        max-height: 200px;
    }
    .today .adslist-card .smallads-title {
        font-size: 12px;
        line-height: 1.357;
        color: #333;
        overflow: hidden;
        position: relative;
        padding: 0;
        top: -0.2rem;
        max-height: 65px;
    }
    .today .smallads-title {
        display: block;
        white-space: normal;
    }
    .adslist-card {
        /* height: 71px; */
        width: 100%;
    }
    .userview-sidebar {
        background-color: #f5f5f5;
        /* height: 91vh; */
        padding-top: 35%;
        padding-left: 25px;
        margin-top: 2px;
    }
}


/*for search for,*/

.toggle-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/*/////////////////////////// setup////////////////////// */


/* setup class */

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.p-lr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pad-free {
    padding: 0px;
}

.pad-10 {
    padding: 10px !important;
}

.m-0 {
    margin: 0px;
}

.m-t-8 {
    margin-top: 13px;
}

.m-lr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-22 {
    margin-top: 22px;
}

.m-l-10p {
    margin-left: 10% !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-r-15 {
    margin-right: 15px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-14 {
    margin-left: 14px;
}


/* .m-r-2per{
    margin-right: 2% !important;
} */

.p-t-0 {
    padding-top: 0px;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-5 {
    padding: 5px;
}

.m-r-10 {
    margin-right: 10px;
}

.max-width12 {
    max-width: 12%;
}

.max-width13 {
    max-width: 13%;
}

.max-width16 {
    max-width: 16%;
}

.main-color {
    color: #333;
}

.white {
    color: #fff;
}

.main-bg-color {
    background-color: #118063 !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.secondary-bg-color {
    background-color: #f27a24 !important;
}

.toggle-btn .icon-arrow:before {
    content: '\25BC';
}

.all-btn {
    color: #fff !important;
    border: none !important;
    min-width: 100px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.all-btn:hover {
    text-decoration: none;
}

.edit-borderbtn {
    border: 1px solid #ffc107 !important;
    color: #ffc107;
    background: #fff;
    box-shadow: none !important;
    min-width: 70px;
}

.delete-borderbtn {
    border: 1px solid #dc3545 !important;
    color: #dc3545;
    background: #fff;
    box-shadow: none !important;
    min-width: 60px;
}

.confirm-borderbtn {
    border: 1px solid #6cb2eb !important;
    color: #6cb2eb;
    background: #fff;
    box-shadow: none !important;
    min-width: 60px;
}

.border-style {
    border: 1px solid #eee;
}

.create-btn {
    color: #fff !important;
    text-align: center;
    background: #b7dad2;
    border-radius: 5px;
    padding: 10px;
}

.login-register-btn {
    background-color: transparent;
    color: #000 !important;
    border: none;
    font-weight: bold;
    width: 125px;
    font-size: 12px;
}

.login-register-btn>.router-link-exact-active {
    background-color: transparent;
    border-left-color: transparent;
    font-weight: bold;
    border-radius: 0px !important;
    border-left: none;
    color: #095c5f !important;
}

.login-register-btn:hover,
.login-register-btn:active,
.login-register-btn:focus {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    text-decoration: underline;
}

.invalid-feedback {
    font-size: 75%;
}

.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.fav-item {
    font-size: 12px;
    padding: 5px 10px;
}

.fav-color {
    background-color: #f9793c;
}

.history-color {
    background-color: #0e775d;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-top: 0px !important;
    padding-left: 9px !important;
}

.box-searchmap {
    position: relative;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background: #fff;
    margin: 10px 0px 0px 0px;
    border-radius: 0.25rem;
    /* min-height: 350px !important; */
    /* max-height: 252px;
    min-height: 252px; */
    /* width: 49%; */
}

li.userprofile-name {
    text-align: right;
}

li.userprofile-name:hover {
    text-decoration: none;
}

li.userprofile-name>a {
    display: inline-block;
}

.userprofile-img {
    width: 40px;
    height: 40px;
}

.maintab-content {
    padding: 7px;
    /*for no scroll*/
    margin: 85px 0 0 0;
}

.tab-content {
    /* padding: 15px !important; */
    padding: 13px !important;
    /*for no scroll*/
    background: white;
    border: 1px solid #eee;
}

.tab-content1 {
    min-height: 350px;
    /* max-height: 900px; */
}

.tab-content2 {
    /* height: 320px !important; */
}

.tab-card-header {
    background-color: #b7dad2 !important;
}

.nav-link {
    color: #095c5f !important;
}


/* .router-link-active{
    color: #fff !important;
} */

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: transparent !important;
}

a:hover {
    color: #000;
}

.nav-tabs .nav-item {
    /* margin-bottom: -3px !important; */
    /* border-left: 1px solid #fff !important; */
}

div.tabs>.card-head-tab>.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f27a24 !important;
    font-weight: bold;
    background-color: #fff;
    border-top: 1px solid #f27a24;
    border-color: #f27a24 #fff #fff #fff !important;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#v-pills-tab li a {
    padding: 0.7rem 20px 0.7rem 25px;
}

.text-pre {
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.card-head-tabs {
    margin-bottom: 0rem !important;
    background-color: #ecede1 !important;
    border-bottom: 0;
    border-left-style: solid;
    border-left: 1px solid #eee;
}

.user-profile {
    width: 22px;
    margin-right: 10px;
}


/*for sidebar*/

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: rgba(0, 0, 0, 0.1);
    border-left-color: #f27a24;
    font-weight: bold;
    border-radius: 0px;
    border-left: 3px solid #f27a24;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link>a>i {
    color: #fff;
}

.nav-pills .nav-link.active>i.fa,
.nav-pills .nav-link.active>i.fas {
    color: #f27a24 !important;
}

.nav-pills .nav-link.active>a {
    color: #fff !important;
}


/*user view sidebar*/

.userview-sidebar {
    background-color: #f5f5f5;
    padding-top: 180px;
    height: 100vh;
    padding-left: 22px;
    padding-right: 7px;
    margin-top: 4px;
}

.adminview-sidebar {
    position: fixed;
    top: 80px;
    width: 13%;
    height: 100%;
    background: #b7dad2;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.custom-sidebar {
    /* height: 100vh;*/
    /* background: #b7dad2;  */
}


/* profilepublish css start */

#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}

.section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
}

.section-header h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-header h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #18d26e;
    bottom: 0;
    left: calc(50% - 20px);
}

.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
}

.nav_menu {
    margin: 0;
    padding: 0;
    background: #6cb7a6;
    overflow: hidden;
}

.nav_menu ul {
    list-style: none;
    text-align: center;
    overflow: hidden;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.nav_menu ul li {
    display: inline-block;
    margin: 0 -4px;
    padding: 5px 0;
}

.nav_menu ul li a {
    padding: 10px 10px 10px 10px;
    font: normal 1em / normal "Open Sans Condensed", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_menu ul li a:hover,
.nav_menu ul li a.active {
    background: #343434;
}

.section {
    padding: 20px;
    font: normal 2em / normal "Open Sans Condensed", sans-serif;
}

.section#section1,
.section#section3 {
    background: #343434;
    color: #eee;
}

.section#section2,
.section#section4 {
    background: #666;
    color: #eee;
}


/* profilepublish css end */

.custom-sidebar ul li {
    border-bottom: 1px dashed #eee;
}

.router-link-exact-active {
    background-color: rgba(0, 0, 0, 0.1);
    border-left-color: #f27a24;
    font-weight: bold;
    border-radius: 0px !important;
    border-left: 3px solid #f27a24;
    color: #fff !important;
}

.router-link-exact-active>i.fa,
.router-link-exact-active>i.fas {
    color: #f27a24 !important;
}


/*for main tab*/


/* .tab{
    height:743px;
} */

.main-tab {
    margin: 0 auto;
}

ul.main-tab li.subtab {
    margin-right: 1px;
    padding: 15px;
    border-top: 1px solid #000;
    color: #fff;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 10px;
    margin-bottom: 0px;
}

ul.main-tab li:before {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

ul.main-tab li:after {
    content: "";
    display: block;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}


/* .tablink{
    color: #fff !important;
} */


/* .subtab1{
    background: #00b09b;


}
.subtab2{
    background: #ffdde1;
}
.subtab3{
    background: #4eb3de ;


}
.subtab4{
    background: #7586c6 ;


}
.subtab5{
    background: #ff9b53;  /


} */


/* end for main tab*/


/*for breadcrumb*/

.breadcrumb {
    padding: 0px 1rem !important;
    margin-bottom: 8px !important;
    background-color: transparent !important;
    font-size: 12px;
}

.breadcrumb-item>a {
    color: #6c757d;
    /* font-weight: bold; */
}

.breadcrumb-item.active {
    color: #19a984;
    /* font-weight: bold; */
}

.breadcrumb-item.active>a {
    color: #f16c00;
    /* font-weight: bold; */
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #118063 !important;
    content: ">" !important;
}


/*end for breadcrumb*/


/*related news*/

.next-title {
    border-top: 2px dotted #118063;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    clear: both;
    margin-top: 20px;
}


/*footer*/

.footer {
    font-size: 12px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    background: transparent;
    text-align: center;
    line-height: 20px;
    padding: 10px;
    width: 100%;
}


/* Hospital Search */

.search-map {
    background: white;
    padding: 0px 15px 15px 15px !important;
}

.divisions span {
    margin-right: 10px;
}

.divisions {
    /* padding: 20px 0px 0px 20px; */
}

.divisions .card-header {
    font-weight: bold;
    color: #000;
    text-align: center;
    padding: 5px !important;
}

.divisions .card-body {
    padding: 10px !important;
}

@media print,
screen and (min-width: 750px) {
    .spanclass {
        letter-spacing: normal;
        width: 50%;
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: center;
        padding-right: 10px;
        font-size: 12px;
    }
    .map-text a:after {
        content: "";
        width: 6px;
        height: 6px;
        border-right: 1px solid #c40000;
        border-bottom: 1px solid #c40000;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 52px;
        left: 61px;
        /* top: 50%;
    right: 8px;
    margin-top: -3px; */
    }
}


/* End Hospital Search */


/* Newdetails */

.p5 {
    font-size: 18px;
    letter-spacing: 2px;
}

.news_photo {
    height: 250px;
    width: 80%;
    margin-bottom: 24px;
    border-radius: 3px;
}

.related-area span {
    color: rgb(255, 72, 0);
    font-size: 14px;
}


/*End Newdetails */


/* Scrollbar */

.news-wrapper::-webkit-scrollbar,
body::-webkit-scrollbar,
.scrolldiv::-webkit-scrollbar,
.scroll2::-webkit-scrollbar,
.scrolldiv2::-webkit-scrollbar,
.main-wrap::-webkit-scrollbar {
    width: 6px !important;
    background: #f7f7f7 !important;
}

.news-wrapper::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.scrolldiv::-webkit-scrollbar-track,
.scroll2::-webkit-scrollbar-track,
.scrolldiv2::-webkit-scrollbar-track,
.main-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    border-radius: 0px !important;
}

.news-wrapper::-webkit-scrollbar-thumb,
.main-wrap::-webkit-scrollbar-thumb,
.scrolldiv::-webkit-scrollbar-thumb,
.scroll2::-webkit-scrollbar-thumb,
.scrolldiv2::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
    background-color: #d7d7d7 !important;
    border-radius: 0px !important;
}


/* End Scrollbar */


/* Newdetails */

.p5 {
    font-size: 18px;
    letter-spacing: 2px;
}

.news_photo {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 3px;
}

.related-area span {
    color: #6c757d;
    font-size: 14px;
}

.set-date {
    float: right;
    text-indent: 2em;
    margin-bottom: 2px;
}


/*End Newdetails */


/*jssor slider*/


/*jssor slider loading skin spin css*/

.jssorl-009-spin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: -19px;
    position: relative;
    top: 50%;
    width: 38px;
    height: 38px;
}

.jssor-slider {
    position: relative;
    top: 0px;
    width: 1200px;
    height: 100px;
    overflow: hidden;
    visibility: hidden;
    margin-bottom: 10px;
}

.top-ad-slider {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 1200px;
    height: 120px;
    overflow: hidden;
}

.top-ad-slider .slide-img {
    width: 100px;
    margin: 10px 0 5px 10px;
}

.top-ad-slider .slide-img img {
    width: auto;
    max-width: 100px;
}

.top-ad-slider .list-group-item {
    padding: 2px;
    height: 120px;
}


/* .top-ad-slider .ads-img {
    width: auto;
    margin-right: 13.2px;
} */

.top-ad-slider .list-group-item a {
    display: flex;
}

.top-ad-slider .smallads-title {
    width: 130px;
    height: 90px;
    padding: 10px;
    margin-left: auto;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*jssor slider bullet skin 057 css*/

.jssorb057 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb057 .i .b {
    fill: none;
    stroke: #fff;
    stroke-width: 2000;
    stroke-miterlimit: 10;
    stroke-opacity: 0.4;
}

.jssorb057 .i:hover .b {
    stroke-opacity: 0.7;
}

.jssorb057 .iav .b {
    stroke-opacity: 1;
}

.jssorb057 .i.idn {
    opacity: 0.3;
}


/*jssor slider arrow skin 073 css*/

.jssora073 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora073 .a {
    fill: #ddd;
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 160;
    stroke-miterlimit: 10;
    stroke-opacity: 0.7;
}

.jssora073:hover {
    opacity: 0.8;
}

.jssora073.jssora073dn {
    opacity: 0.4;
}

.jssora073.jssora073ds {
    opacity: 0.3;
    pointer-events: none;
}


/*end for jssor*/


/*view*/

.m-t-l {
    margin-left: 85px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.view1 {
    margin-left: 42px;
    letter-spacing: 2px;
}

.am-l-10 {
    margin-left: 20px;
}


/*view*/

.myBtn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 6px 22px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    color: white;
}

.myBtn-success {
    background-color: #4db197 !important;
    border-color: #4db197 !important;
}

.btn-success:hover,
.btn-success:focus {
    background-color: #3ca512;
    border-color: #3ca512;
}


/* Hospital History */

.fac_container>li {
    display: inline-block;
    padding: 5px;
    margin: 0 0 10px 3px;
    color: #0e775d;
    text-align: center;
    border-radius: 2px;
    border: 1px dashed #b7dad2;
    border-bottom: 1px solid #b7dad2;
    background-color: #f5f5f2;
}

.fac_container>li:first-child {
    margin: 0;
}

.hos-btn {
    display: block;
    width: 88%;
    margin-top: 10px;
    margin-left: 15px;
    font-size: 0.7rem;
    text-align: center;
}

.hos-l {
    width: 28%;
}

.hos-r {
    width: 72%;
}


/* End for Hospital History */


/* Summernote */

.note-editor .btn-light {
    color: #212529;
    background-color: #fff !important;
    border-color: #ccd1d6 !important;
}

.note-popover .popover-content,
.card-header.note-toolbar {
    padding: 5px 0 10px 10px !important;
}


/* End Summernote */


/* Google Map  */

#googlemap {
    min-height: 300px;
    border: 3px solid #ccc;
    border-radius: 4px;
}

.map-text>a {
    color: #000;
}


/* End Google Map  */


/* .pc {
    display: block !important;
} */

.sp {
    display: none !important;
}

@media only screen and (max-width: 1300px) {
    .adslist-card {
        height: auto;
    }
    .ads-img {
        display: block;
        float: none;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
    }
    .today .adslist-card .smallads-title {
        top: 7px;
    }
    /* #v-pills-tab li a {
        display: block;
        padding: 0;
    } */
    .sub-title>.ads-title {
        position: unset;
        margin: 10px 0 30px;
    }
}

@media only screen and (max-width: 990px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
    .navbar-brand img {
        max-width: 200px;
    }
    .sp-nav {
        padding: 20px 40px;
    }
    .sp-nav li {
        list-style: none;
        border-bottom: 1px solid #fff;
    }
    .nav-link {
        padding: 0.5rem 0;
    }
    .router-link-exact-active {
        border-left: 0px;
        background-color: transparent;
    }
    .ads-img {
        float: left;
        display: block;
        margin: 0 auto;
    }
    .today .adslist-card .smallads-title {
        top: 7px;
    }
    .hos-btn {
        width: 50%;
        margin: 10px auto 0;
    }
    .hos-img {
        display: block;
        margin: 0 auto;
    }
    /* .fac-wrap {
        width: 90%;
        margin: 0 auto;
        overflow-x: auto;
    }
    .fac_container {
        width: 900px;
        margin: 0 auto;
    } */
}


/*  Start CommentList */

button.confirmed {
    opacity: 0.5;
    cursor: not-allowed;
}


/* End Commentlist */